@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Roboto:ital,wght@0,400;1,300;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Roboto', sans-serif;
}

#tela_login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


figure , h1{
    text-align: center;
}

img{
    -webkit-user-drag: none;
}

h1{
    margin-bottom: 20px;
}

form{
    text-align: center;
}

label{
    display: inline-block;
    width: 70px;
}

input{
    font-size: 1.05rem;
    border-radius: 5px;
    border: 1px solid #cecece;
    padding: 5px;
}

input[type=email], input[type=password]{
    width: 250px;
    margin-bottom: 10px;
    height: 30px;
}

input[type=submit], input[type=reset]{
    width: 130px;
    height: 2.5rem;
}

input[type=submit]{
    background: #1d495f;
    color: #fff;
}

input[type=submit]:hover{
    background: #cecece;
    color: #1d495f;
    font-weight: bolder;
    cursor: pointer;
}

input[type=reset]:hover{
    background: #ff6600;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}

/*Formatações da página de Perfil*/

#tela_perfil{
    width: 720px;
    height: 100vh;
    font-size: 1.25rem;
    margin: 0 auto; /*centraliza div*/
    color: #191919;
}

@media(max-width:720px){
    #tela_perfil{
        width: 90%;
    }
    #tela_perfil h1{
        font-size: 1.25rem;
    }
    #foto_perfil{
        top: 10px;
    }

    .localizacao, #menu_top a {
        font-size: 0.75rem;
    }
}

#foto_perfil {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 100px;
    box-shadow: 0px 0px 5px #ccc;
    position: absolute;
    top: 20px;
    left: 20px;
}

figcaption{
    display: none;
}

header h1{
    font-size: 2rem;
    color: #191919;
}

header{
    height: 350px;
    background: #ececec;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 20px;
    position: relative; /*para usar absolute internamente*/
    margin-bottom: 1rem;
}

#dados{
    width: 100%;
    margin-top: 120px;
}

blockquote{
    background: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px #ccc;
}

#locais{
    line-height: 2rem; /*altura da linha*/
    margin-top: 10px;
    margin-left: 1.5rem;
    font-size: 1rem;
}

.localizacao{
    color: #222;
}

#menu_top{
    float: right;
}

#menu_top a {
    background: #1d495f;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
}

#menu_top a:hover{
    text-decoration: underline;
}

section {
    width: 100%;
    background: #cecece;
    padding: 1.5rem;
    border-radius: 8px;
}

article{
    background: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0px 0px 5px #ccc;
}

article h2, #info-contato h2{
    font-size: 1.85rem;
    margin-bottom: 1rem;
}

article ul, article ol{
    margin-left: 1.5rem;
}

article li {
    line-height: 2.5rem; /*altura das linhas das listas*/
}

#info-contato h3 {
    font-size: 1rem;
    margin-top: 1rem;
}

#info-contato p {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
}

#info-contato a {
    text-decoration: none;
    color: #1d495f;
}

/*FORMATAÇÃO DO RODAPÉ*/
#rodape{
   margin-top: 1rem; 
   background: #ececec;
   padding: 1.5rem;
   border-radius: 8px;
   text-align: center;
}

#menu-rodape{
    padding: 2rem;
}

#menu-rodape p{
    display: inline-block;
}

#menu-rodape a, #ir-para-topo {
    text-decoration: none;
    color: #1d495f;
    padding: 5px;
}

#menu-rodape a:hover {
    text-decoration: underline;
    background: #fff;
    border-radius: 5px;
}

footer p {
    text-align: center;
    font-size: 1rem;
}